h2 {
color: blue;
text-align: center;
}

.boxmodel {
	border: 5px solid red;
	display: inline-block;
	padding: 20px 5px 20px 5px;
	margin: 20px;
	width: 20px;
	heigh: 40px;
}

body {
	border-color: blue;
	border-style: double;
	border-width: 4px;
	border-radius: 10px
}

span {
	font size: 20 em;
}