/*Selector {
	Proper: value;
}*/

body {
	background: yellow;
}


h2 , p {
	color: red;
	text-align: center;
	border: 5px solid purple;
	cursor: pointer;
}

p {
	color: pink;
}

p {
	color: green;
}

li {
	list-style: none;
	display: inline-block;
}

.webtext {
	border: 5px dashed green;
}
